.slider img, .card-image{
    height: 450px;
    object-fit: cover;
}

.custom-menu .ant-menu-item{
    padding: 10px !important;
}

.custom-slider{
    margin: 12px !important;
}

.custom-menu-categories {
    padding: 12px;
}

.custom-menu-categories .ant-checkbox-wrapper {
    display: flex; /* This ensures the checkboxes are displayed one below the other */
    margin-bottom: 8px; /* Add some space between checkboxes */
}

.custom-category-item .ant-menu-item{
    height: 300px;
    padding: 12px;
    overflow-y: scroll;
}

.custom-star-item .ant-menu-item{
    height: 250px;
    padding-left: 22px !important;
    overflow-y: scroll;
}

.custom-subcategory-item .ant-menu-item {
    font-size: 1.2rem;
    text-wrap: wrap;
    height: 200px;
    padding-left: 22px !important;
    overflow-y: scroll; 
}

.custom-subcategory-item .ant-menu-title-content {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-y: scroll !important;
}

.custom-brand-item .ant-menu-item {
    height: 200px;
    padding-left: 22px !important;
    overflow-y: scroll; 
}

.custom-brand-item .ant-menu-title-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow-y: scroll !important;
}

.custom-shipping-menu .ant-menu-item {
    height: 80px;
    padding-left: 22px !important;
    overflow-y: scroll; 
}

.custom-shipping-menu .ant-checkbox-wrapper {
    display: flex;
    padding-top: 8px;
}